@import "bootstrap/bootstrap-reboot";


/*!
 * Bootstrap grid custom
 * info@benlemi.cz
 * Copyright 2020
*/

@import "bootstrap/functions";
@import "bootstrap/variables";

@import "bootstrap/mixins/breakpoints";
@import "bootstrap/mixins/grid";

@import "bootstrap/grid";


/*!
 * Benlemi (https://benlemi.cz)
 * info@benlemi.cz
 * Copyright 2020
*/

@import "var/colors";
@import "var/fonts";
@import "var/icons";

html{

}
body{
    background: $white;
}
a{
    color: $green-500;

    &:hover, &:active, &:focus{
        color: $gray-900;
    }
}

@import "partials/_img";
@import "partials/_btn";
@import "partials/_user-action";
@import "partials/_admin-bar";
@import "partials/_top-navigation-bar";
@import "partials/_header-top";
@import "partials/_menu";
@import "partials/_content-wrapper";
@import "partials/_carousel";
@import "partials/_sidebar";
@import "partials/_product";
@import "partials/_products-block";
@import "partials/_homepage-group-title";
@import "partials/_navigation-buttons";





@import "partials/_footer";