/* -------------------------------------------------------------------------- */
/* SEARCH */
/* -------------------------------------------------------------------------- */
$i-search: "../icons/search.svg";

/* -------------------------------------------------------------------------- */
/* USER */
/* -------------------------------------------------------------------------- */
$i-user: "../icons/user.svg";

/* -------------------------------------------------------------------------- */
/* CART */
/* -------------------------------------------------------------------------- */
$i-cart: "../icons/cart.svg";

/* -------------------------------------------------------------------------- */
/* PHONE */
/* -------------------------------------------------------------------------- */
$i-phone: "../icons/phone.svg";

/* -------------------------------------------------------------------------- */
/* ENVELOPE */
/* -------------------------------------------------------------------------- */
$i-envelope: "../icons/envelope.svg";