.empty-content-404{
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-content-404 h1{
    
}
.empty-content-404 h2{
    
}
.empty-content-404 p{
    
}
.empty-content-404 p a{
    
}