.in-404{
    
}
.empty-content-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.empty-content-404 h1{
    
}
.empty-content-404 h1 + p{
    max-width: 700px;
}
.empty-content-404 h2{
    
}
.empty-content-404 p{
    
}
.empty-content-404 p a{
    
}

