.admin-bar{
    background: $gray-900;
    z-index: 99;
    position: relative;
}
.admin-bar a, .admin-bar span{
    color: $white;
  }
.admin-bar > div > ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.admin-bar > div > ul > li{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.admin-bar > div > ul > li:hover > ul{
    display: flex;
    flex-direction: column;
}
.admin-bar > div > ul > li > ul{
    list-style: none;
    padding: 0;
    position: absolute;
    background: $gray-900;
    top: 100%;
    display: none;
}


@media screen and (max-width: 991px){
    .admin-bar{
        display: none;
    }
}