.type-product > #cboxOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0,0,0,0.5);
}

.type-product > #colorbox{
    background: $white;
    z-index: 10;
}
.type-product > #cboxWrapper{
    position: relative;
}
.type-product .advanced-order{

}

.type-product .advanced-order .h1{
    padding: 10px 50px;
    text-align: center;
    font-size: 24px;
}
.type-product .advanced-order .h2{
    text-align: center;
    display: none;
}
.type-product .extras-wrap{
    padding: 10px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.type-product .delivery{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
    background: $gray-300;
}
.type-product .step{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .btn-conversion{
        &:hover, &:active, &:focus{
            text-decoration: none;
        }
    }
}
.type-product #cboxClose{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-image: url("../icons/close.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    font-size: 0;
    height: 48px;
    width: 48px;
    padding: 0;
}
.type-product .advanced-order-suggestion{
    text-align: center;
    font-size: 24px;
    padding: 10px 50px;
}
.type-product .advanced-order #products{
    padding: 0 50px 30px 50px;
    display: flex;
    justify-content: center;
    margin: 0;
}