
#cboxOverlay, #colorbox{
    display: none;
}

 #cboxOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0,0,0,0.5);
    display: flex;
}

#colorbox{
    background: $white;
    z-index: 10;
    display: flex;
}
#colorbox > #cboxWrapper{
    position: relative;
}
#colorbox .advanced-order{

}

#colorbox .advanced-order .h1{
    padding: 40px 50px;
    text-align: center;
    font-size: 24px;
}
#colorbox .advanced-order .h2{
    text-align: center;
    display: none;
}
#colorbox .extras-wrap{
    padding: 40px 50px 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $gray-300;
}
#colorbox .delivery{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
    background: $green-700;
    color: $white;
}
#colorbox .delivery strong{
    font-weight: 400;
}
#colorbox .step{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .btn-conversion{
        &:hover, &:active, &:focus{
            text-decoration: none;
        }
    }
}
#backToShop{
    margin-right: 20px;
    background: $gray-400;
    color: $gray-900;

    &:hover, &:active, &:focus{
        background: $gray-500;
    }
}
#colorbox #cboxClose{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: $gray-300;
    background-image: url("../icons/close.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    font-size: 0;
    height: 48px;
    width: 48px;
    padding: 0;
    cursor: pointer;
}
#colorbox .advanced-order-suggestion{
    text-align: center;
    font-size: 24px;
    padding: 10px 50px;
}
#colorbox .advanced-order #products{
    padding: 0 50px 10px 50px;
    display: flex;
    justify-content: center;
    margin: 0;
}