.type-product > #cboxOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0,0,0,0.5);
}

.type-product > #colorbox{
    background: $white;
    z-index: 10;
}
.type-product > #cboxWrapper{
    position: relative;
}
.type-product .advanced-order{

}

.type-product .advanced-order .h1{
    padding: 10px 50px;
    text-align: center;
}
.type-product .advanced-order .h2{
    text-align: center;
    display: none;
}
.type-product .extras-wrap{

}
.type-product .delivery{

}
.type-product .step{
    .btn-conversion{
        &:hover, &:active, &:focus{
            text-decoration: none;
        }
    }
}
.type-product #cboxClose{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    font-size: 0;
    height: 24px;
    width: 24px;
}
.type-product .advanced-order-suggestion{
    text-align: center;
    font-size: 24px;
    padding: 10px 50px;
}
.type-product .advanced-order #products{
    padding: 50px;
    padding-top: 0;
}