.blogCategories{

}
.blogCategories + p{
    display: none;
}
.blogCategories__single{
    padding: 10px;
    width: 25%;

    &:first-child{
        .blogCategories__link{
            background-image: url("../img/bg-blog1.jpg");
        }
    }
    &:nth-child(2){
        .blogCategories__link{
            background-image: url("../img/bg-blog2.jpg");
        }
    }
    &:nth-child(3){
        .blogCategories__link{
            background-image: url("../img/bg-blog3.jpg");
        }
    }
    &:nth-child(4){
        .blogCategories__link{
            background-image: url("../img/bg-blog4.jpg");
        }
    }
}
.blogCategories__link{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0px;
    border: 0px solid $gray-400;
    background-size: cover;
    background-position: center center;
    padding-top: 140px;

    &:hover, &:active, &:focus{
        text-decoration: none;
    }
}
.blogCategories__img{
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.blogCategories__title{
    color: $white;
    padding: 20px;
    width: 100%;
    text-align: center;
    background: rgba($black, 0.6);
}

.blogCategories__section{
    padding: 0px 0;
}

.blogCategories__section .news-item:nth-of-type(1n+3){
    display: none;
}

.blogCategories__sectionTitle{
    text-align: center;
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 15px;
    color: $gray-800;
    
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }  
}
.blogCategories__sectionShowMore{
    padding: 10px; 
    width: 33.333%;
    display: flex;
}
.blogCategories__sectionShowMoreLink{
    background: $gray-300;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media screen and (max-width: 991px){
    .blogCategories__row{
        margin-right: -5px;
        margin-left: -5px;
    }
    .blogCategories__single{
        padding: 5px;
        width: 50%;
    }
}
@media screen and (max-width: 500px){
    .blogCategories__single{
        width: 50%;
    }
    .blogCategories__link{
        padding-top: 100px;
    }
    .blogCategories__title{
        padding: 10px 20px;
    }
}