.breadcrumbs-wrapper{

}
.breadcrumbs{
    padding: 10px 0;
}
.breadcrumbs > span{
    font-size: 14px;
}
.breadcrumbs > span > a{
    padding: 5px 10px;
    color: $gray-900;
    
    &::after{
        content: "/";
    }
}
.breadcrumbs > span > span{
    padding: 5px 10px;
    color: $gray-500;
}
.breadcrumbs > span > .navigation-bullet{
    display: none;
}