.btn{
    height: 46px;
    padding: 0 20px;
    background: $green-700;
    color: $white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover, &:active, &:focus{
        color: $white;
        background: $green-600;
        text-decoration: none;
    }
}