.before-carousel{
    padding: 0px 0;
}
.carousel{
    
}
.carousel-inner{
    position: relative;
}
.carousel-control{
    display: none;
}
.carousel-control.left{

}
.carousel-control.right{

}
.carousel-inner .item{
    position: absolute;
    opacity: 0;
    transition: 0.6s ease opacity;
}
.carousel-inner .item.active{
    opacity: 1;
}

.banners-row{

}
.banners-row .col-sm-8, .banners-row .col-sm-4{

}
.next-to-carousel-banners{
    height: 100%;
    position: relative;
}
.banner-wrapper{
    height: 50%;
    display: flex;
    position: relative;

    &:first-child{
        padding-bottom: 10px;
    }
    &:last-child{
        padding-top: 10px;
    }
}
.banner-wrapper a{
    display: flex;
    height: 100%;
}
.banner-wrapper a img{
    object-fit: cover;
}
