.cart-wrapper{

}
.cart-inner{

}
.cart-row{

}
.cart-content{

}
.cart-header{
    display: flex;
    list-style: none;
    padding: 0;
}
.cart-header .step-0{

}
.cart-header .step{
    display: flex;
    padding: 10px 20px;
}
.cart-header .step.active{
    
}
.cart-header .step.step-1{

}