.before-carousel{
    padding: 20px 0;
}
.carousel{
    
}
.carousel-inner{
    position: relative;
}
.carousel-control{
    display: none;
}
.carousel-control.left{

}
.carousel-control.right{

}
.carousel-inner .item{
    position: absolute;
    opacity: 0;
    transition: 0.6s ease opacity;
}
.carousel-inner .item.active{
    opacity: 1;
}

.banners-row{
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.banners-row .col-sm-8, .banners-row .col-sm-4{
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.next-to-carousel-banners .banner-wrapper:first-child{
    margin-bottom: 15px;
}