#cart-wrapper{

}
.cart-inner{
    padding: 20px 0 40px 0;
}
.cart-row{

    .col-md-8, .col-md-4{
        width: 100%;  
        top: 0 !important;
    }

}
.in-kosik .cart-row .col-md-8, .in-kosik .cart-row .col-md-4{
    max-width: none;
    flex-basis: auto;
}

.cart-content{
    margin: 0;
}
.cart-content .cart-header{
    display: none;
}
.cart-header{
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
    background-color: $gray-300;
}
.cart-header .step-0{

}
.cart-header .step{
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid $gray-300;
    position: relative;
    flex-basis: 0;
}
.cart-header .step a{
    text-align: center;
    padding: 15px 10px 30px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-700;
    position: relative;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-700;
    }
}
.cart-header .step strong{
    text-align: center;
    padding: 15px 10px 30px 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $gray-700;
}
.cart-header .step.active{
    border-bottom: 2px solid $green-700;
    background: $gray-400;
}
.cart-header .step.completed{
    border-bottom: 2px solid $green-700;
}
.cart-header .step.completed a{
    color: $green-700;
}
.cart-header .step.active strong{
    color: $gray-900;
}
.cart-header .step.step-1{

}

.step::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background: $gray-300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 1;
    border: 3px solid $white;
    color: $gray-900;
    font-size: 14px;
    font-weight: 600;
}
.step.step-1::after{
    content: "1";
}
.step.step-2::after{
    content: "2";
}
.step.step-3::after{
    content: "3";
}
.step.step-4::after{
    content: "4";
}
.cart-header .step.active .step-number{
    background: $green-700;
    color: $white;
}
.step.active::after{
    border: 2px solid $green-700;
    background: $white;
    box-shadow: 0px 0px 0px 3px $white;
    width: 30px;
    height: 30px;
}
.step.completed::after{
    content: "✓";
    color: $white;
    background: $green-700;
}

@media screen and (max-width: 991px){
    .cart-header {
        margin: -20px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .cart-header .step a, .cart-header .step strong{
        padding: 10px;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
    }
    .cart-header .step-4{
        display: none;
    }
}

.in-kosik{
        
    .cart-table{
        width: 100%;
    }
    .cart-table-heading{
        display: flex;
        margin-bottom: -10px;
    }
    .cart-table-heading span{
        width: 15%;  
        font-size: 13px;
        font-weight: 400;
        color: $gray-700;
        padding: 20px 10px 0px 10px;
    }
    .cart-table-heading span:first-child{
        width: calc(35% + 80px); 
        padding-left: 0;   
    }
    @media screen and (max-width: 991px){
        .cart-table-heading{
            display: none;
        }
    }

    .p-label{
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: $gray-700;
        padding-bottom: 10px;
    }
    .cart-table .removeable{
        width: 100%;
        display: flex;
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid $gray-400;

        .p-label{
            display: none;
        }
    }
    .cart-table .cart-p-image{
        height: 80px;
        width: 80px;
        flex-shrink: 0;
    }
    .cart-table .p-name{
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px 0 20px;
        width: 35%;
    }
    .cart-table .p-name .main-link{
        font-size: 14px;
        font-weight: 600;
        color: $gray-800;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover, &:active, &:focus{
            text-decoration: none;
            color: $green-700;
        }
    }
    .cart-table .p-name .main-link-variant{
        font-size: 13px;
        color: $gray-700;
    }
    .cart-table .p-name .show-related{
        display: none;
    }

    .cart-table .p-cell{
        padding: 0 10px;
        width: 15%;
    }
    .cart-table .p-availability{
        display: flex;
        flex-wrap: wrap;
    }
    .cart-table .p-availability .show-tooltip{
        font-weight: 600;
        font-size: 14px;
        color: $green-700;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cart-table .p-quantity{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
    }
    .cart-table .p-quantity .quantity{
        height: 100%;
        position: relative;
        display: flex;
        max-width: 120px;

        .increase, .decrease{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            cursor: pointer;

            &::before, &::after{
                content: "";
                background: $gray-800;
                height: 2px;
                width: 10px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            &::after{
                height: 10px;
                width: 2px;
            }
        }
    }
    .cart-table .p-quantity .quantity .decrease{
        left: 0;
        right: auto;
        &::after{
            content: none;
        }
    }
    .cart-table .p-quantity .quantity .amount{
        height: 46px;
        padding: 0 10px;
        width: 100%;
        border: 1px solid $gray-400;
        text-align: center;
        font-size: 14px;
    }
    .cart-table .p-price{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .cart-table .p-price .price-final{
        color: $gray-800;
        padding-right: 4px;
    }
    .p-total{
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 15%;
    }
    .p-total strong{
        color: $red-800;
        flex-grow: 1;
        font-weight: 600;
    }
    .cart-table .remove-item{
        border: 0;
        background-color: $gray-300;
        width: 46px;
        height: 46px;
        display: flex;
        background-image: url("../icons/close.svg");
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: center center;
        flex-shrink: 0;
        margin: 0;
        transition: 0.2s ease background-color, 0.2s ease background-image;
        cursor: pointer;

        &:hover, &:active, &:focus{
            background-color: $red-200;
            background-image: url("../icons/close-red.svg");
        }
    }
    .cart-table .remove-item span{
        padding: 0;
        font-size: 0;
    }

    @media screen and (max-width: 991px){
        .cart-table .removeable {
            flex-wrap: wrap;
        }
        .cart-table .removeable:first-child {
            border: 0;
        }
        .cart-table .p-name {
            width: calc(100% - 80px);
        }
        .cart-table .p-cell {
            width: auto;
        }
        .cart-table .p-price{
            display: none;
        }
        .cart-table .p-availability {
            padding: 5px 20px 5px 0;
        }
        .p-total{
            width: auto;
            flex-grow: 1;
        }
        .cart-table .p-quantity {
            padding-left: 0;
        }
    }
    @media screen and (max-width: 991px){
        .cart-table .p-availability {
            width: 100%;
        }
    }

    .cart-table .related{
        padding: 5px 10px;
        background: $gray-300;
        margin-bottom: 20px;
        display: flex;
        display: none;
    }
    .cart-table .related > td{
        width: 100%;
    }
    .cart-related-product{
        display: flex;
        height: 50px;
        font-size: 13px;
        margin: 5px 0;
    }
    .cart-related-product .cart-related-info{
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .cart-related-img{
        height: 50px;
        width: 50px;
        display: flex;
    }
    .cart-related-name{
        padding: 0 10px;
        color: $gray-800;
    }
    .cart-related-availability{
        padding: 0 10px;
        color: $gray-700;
    }
    .cart-related-button{
        display: flex;
        align-items: center;
    }
    .cart-related-button .price-final{

    }
    .cart-related-button .btn{
        display: none;
    }
}


.checkout-box-wrapper{
    display: none;
}
.summary-wrapper{

}
.summary-wrapper .next-step{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.back-shopping-link{
    display: none;
}
.summary-wrapper .next-step-back{
    height: 46px;
    padding: 0 20px;
    color: $gray-800;
    background: $gray-300;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease all;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    &:hover, &:active, &:focus{
        background: $gray-400;
        text-decoration: none;
    }
}

.cart-summary{
    padding-top: 20px;
    border-top: 1px solid $gray-400;
}
.cart-summary .extras-wrapper{

}
.cart-summary .extras-col{

}
.cart-summary .extras-wrap{

}
.cart-summary .extras-wrap .extra{
    padding: 10px 20px;
    font-weight: 400;
    color: $gray-800;
    background: $gray-300;
}
.cart-summary .extras-wrap .extra.delivery{
    color: $green-800;
    background: $green-100;
    text-align: right;
}
.cart-summary .free-gift{
    margin-bottom: 20px;
}
.cart-summary .free-gifts-wrapper, .cart-summary .free-product-gifts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid $gray-400;
    margin-bottom: 5px;
}
.cart-summary .free-gifts-img{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-summary .free-gifts-img-hover{
    display: none;
}
.cart-summary .free-gift-label{
    flex-grow: 1;
    padding-left: 20px;
}

.discount-coupon{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.price-wrapper .discount-coupon{
    margin: 0;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.discount-coupon form{
    display: flex;
}
.discount-coupon input{
    height: 46px;
    margin-right: 5px;
}

.applied-coupon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 991px){
    .discount-coupon form{
        width: 100%;
    }
    .cart-summary .extras-wrap .extra.delivery {
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    .discount-coupon {
        margin-bottom: -46px;
    }
    .cart-summary .extras-wrap .extra.delivery{
        color: $green-800;
        background: transparent;
        display: flex;
        justify-content: flex-end;
        height: 46px;
        padding: 0;
    }
    .cart-summary .extras-wrap .extra.delivery > span{
        padding: 10px 20px;
        background: $green-100;
    }
}

.cart-content.summary-wrapper{
    margin-top: 20px;
}
.cart-content.summary-wrapper .price-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: $gray-300;
    padding: 15px 20px;
    align-items: baseline;
    position: relative;
}
.cart-content.summary-wrapper span.price-label{
    width: 50%;
    justify-content: flex-end;
    display: flex;
}
.cart-content.summary-wrapper .price{
    color: $red-800;
    font-weight: 700;
    padding-left: 10px;
    font-size: 20px;
}
.cart-content.summary-wrapper .price-secondary{
    color: $gray-700;
    font-size: 14px;
}

.cart-summary .free-product-gifts{
    list-style: none;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.cart-summary .free-product-gifts li{
    display: flex;
}
.cart-summary .free-product-gifts label{
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
}


/* empty cart */
.cart-heading{
    text-align: center;
    margin: 40px 0;
    position: relative;
}
.cart-empty .cart-heading{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-empty .cart-heading::after{
    content: "";
    display: flex;
    background-image: url("../img/empty.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 600px;
    max-width: 100%;
    height: 400px;
    margin: 40px 0;
}
.cart-empty .col-md-4{
    display: none;
}
.empty-cart-boxes .col-md-6{
    width: 100%;
    text-align: center;
    flex: 100%;
    max-width: 100%;
}

.empty-cart-boxes .col-md-6:last-child{
    display: none;
}
.empty-cart-boxes .col-md-6 h1{

}
.empty-cart-boxes .col-md-6 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.empty-cart-boxes .col-md-6 ul li{
    padding: 10px;
    width: 20%;
}
.empty-cart-boxes .col-md-6 ul li a{
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $gray-800;
    border: 1px solid $gray-400;

    &:hover, &:active, &:focus{
        background: $gray-300;
        text-decoration: none;
    }
}


/*step 1 delivery and payment page*/
.in-krok-1 .cart-row{
    flex-direction: row;
}
@media screen and (max-width: 991px){
    .in-krok-1 .cart-row{
        flex-direction: column;
    }
    .cart-row .col-md-8, .cart-row .col-md-4 {
        max-width: none;
        flex-basis: 100%;
    }
}
#orderFormSubmit{
    display: none;
}
.order-delivery-payment-form{

}
.co-box{
    padding: 20px 0;
}
.co-box > h4{
    text-align: center;
    position: relative;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: $gray-800;
    width: 100%;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.order-delivery-payment-form .radio-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-delivery-payment-form .radio-wrapper input{
    -webkit-appearance: none;
    opacity: 0;
    position: absolute;
}
.order-delivery-payment-form .radio-wrapper label{
    margin: 0;
    flex-grow: 1;
    padding: 15px 10px;
    padding-left: 34px;
    border: 1px solid $gray-400;
    position: relative;
    cursor: pointer;
    margin: 5px 0;
    display: flex;

    &::before{
        content: "";
        background: transparent;
        height: 14px;
        width: 14px;
        display: flex;
        margin-right: 10px;
        position: absolute;
        left: 10px;
        top: 19px;
        border-radius: 50%;
        border: 2px solid $gray-600;
    }
    &::after{
        content: "";
        background: transparent;
        height: 6px;
        width: 6px;
        display: flex;
        position: absolute;
        top: 23px;
        left: 14px;
        border-radius: 50%;
    }
}
.order-delivery-payment-form .radio-wrapper input:checked + label{
    color: $green-800;
    background: $green-100;
    border: 1px solid $green-700;

    &::before{
        border-color: $green-700;
    }
    &::after{
        background: $green-700;
    }
}
.payment-info{
    order: 10;
}
.payment-info b{
    font-weight: 400;
}
.payment-info .not-possible-info{
    display: none;
}
.payment-logo{
    height: 25px;
    width: auto;
    margin: 0 10px;
    order: 0;
}
.payment-logo img{
    max-height: 100%;
}
.order-delivery-payment-form .radio-wrapper input:disabled + label{
    border: 1px solid $pink-700;

    .not-possible-info{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $pink-800;
        background: $pink-200;
        font-style: normal;
        text-align: center;
    }
}

.payment-shipping-price{
    color: $red-800;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    order: 20;
}
.payment-shipping-price.for-free{
    color: $green-700;
    font-weight: 400;
}


/*step 2 delivery and payment page*/
.in-krok-2 .cart-row{
    flex-direction: row;
}
.phone-combined-input{
    display: flex;
    position: relative;
}
.phone-combined-input select {
    display: none;
}
.country-flags{
    border: 1px solid $gray-500;
    margin-right: 10px;
    height: 48px;
    overflow: hidden;
    background: $white;
    min-width: 100px;
    max-width: 280px;
    flex-shrink: 0;
}
.country-flags.active{
    height: 288px;
    overflow-y: scroll;
    /*position: absolute;
    top: 0;
    left: 0;*/

    .shp-flag-name{
        display: flex;
    }
    .country-flags-inner{
        height: auto;
    }
}
.country-flags-inner{
    display: flex;
    flex-direction: column;
    height: 48px;
    overflow: hidden;
}
.country-flag{
    display: flex;
    align-items: center;
    order: 1;
    padding: 0px 10px;
    height: 48px;
    flex-shrink: 0;
    cursor: pointer;
}
.country-flag.selected{
    order: 0;
}
.shp-flag{
    display: flex;
    height: 20px;
    width: 30px;
    flex-shrink: 0;
}
.shp-flag-label{
    padding-left: 10px;
    display: flex;
    text-align: right;
    flex-grow: 1;
    align-items: center;
}
.shp-flag-name{
    display: none;
    padding-right: 5px;
    font-size: 14px;
    flex-grow: 1;
    text-align: left;
}



.js-validator-msg.msg-error, .validator-msg.msg-error{
    margin-bottom: 10px;
    padding: 10px;
    background: $pink-200;
    text-align: center;
    color: $pink-800;
    font-size: 14px;
}
.validator-msg{
    margin-bottom: 10px;
    padding: 10px;
    background: $gray-300;
    text-align: center;
    color: $gray-800;
    font-size: 14px;
}
.validator-msg.msg-warning{
    background: $yellow-200;
    color: $yellow-900;
}

.validator-msg.msg-info{
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    overflow: hidden;
}
  
@keyframes hide {
    from {
        height: auto;
    }
    to {
      height: 0;
      padding: 0;
      margin: 0;
    }
}

.cart-content #company-info , .cart-content #shipping-address, .cart-content #add-note, .cart-content #add-note+label{
    display: none;
}
.cart-content #company-info.visible, .cart-content #shipping-address.visible, .cart-content #note.visible{
    display: flex;
    flex-direction: column;
}
.co-billing-address{
    padding-bottom: 0;
}
.co-shipping-address{
    padding-top: 0;
}
.co-billing-address fieldset > h4{
    text-align: center;
    position: relative;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: $gray-800;
    width: 100%;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}

.ordering-process #navigation, .ordering-process #header::before{
    display: none;
}

.co-box-additional{
    padding-top: 0px;
}
.co-box-additional > .form-group:first-child{
    display: none;
}
.co-box-additional .form-group:first-child{
    display: flex;
}
.cart-content .stay-in-touch{
    position: relative;
    margin-top: 60px;
}

.cart-content .stay-in-touch input[type="checkbox"]+label{
    padding: 60px 20px;
    padding-left: 50%;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
    max-width: 100%;
    font-size: 22px;

    &::before, &::after{
        top: 50%;
        left: 50%;
        transform: translate(-36px,-50%)
    }
}
.cart-content .stay-in-touch::before {
    content: "";
    background: url("../img/kluci-polocelek.png");
    background-position: center bottom;
    position: absolute;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    bottom: 10px;
    top: -30px;
    max-width: 45%;
}