.category-title{
    text-align: center;
    margin-bottom: 20px;
    
    & + h4{
        display: none;
    }
}
.category-header{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-end;
    margin: 20px 0;
}
.category-header div{
    font-size: 14px;
    color: $gray-700;
}
.category-header label{
    cursor: pointer;
    margin-left: 20px;
}
.category-header input{
    -webkit-appearance: none;
    display: none;
}

.category-header input:checked + label{
    color: $green-700;
}