.middle-banners-wrapper{
    background: $gray-300;
    margin: 20px 0 40px 0;
}
#categoriesSection{
    padding: 40px 0;
    /*
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    */
}
.mobile #categoriesSection{
    margin-top: 40px;
}
.categoriesSection__title{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.categoriesSection__row .col-12{
    margin: 10px 0;
}
.categoriesSection__single{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    padding: 20px;
    transition: 0.3s ease box-shadow;


    &:hover, &:active, &:focus{
        text-decoration: none;
        box-shadow: 0px 4px 15px rgba($black,0.08);
    }
}

.categoriesSection__thumb{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoriesSection__thumbImg{

}
.categoriesSection__singleTitle{
    text-align: center;
    padding-top: 20px;
    color: $gray-800;
    font-size: 14px;
    margin: 0;
}
@media screen and (min-width: 767px){
    .categoriesSection__row > div:nth-child(1n+9){
        display: none;
    }
}
@media screen and (min-width: 992px){
    .categoriesSection__row .col-6{
        width: 20%;
        flex-basis: 20%;
        max-width: none;
    }
    .categoriesSection__row > div:nth-child(1n+6){
        display: none;
    }
}
@media screen and (max-width: 991px){
    .body-banners{
        background: $gray-300;
    }
    .categoriesSection__single{
        margin: 10px 0;
    }
    .mobile #categoriesSection{
        margin-top: 0;
    }
}
@media screen and (max-width: 767px){
    #categoriesSection{
        padding: 40px 0 30px 0;
    }
    .categoriesSection__row {
        margin: 0 -5px;
    }
    .categoriesSection__row .col-12{
        margin: 5px 0;
        padding: 0 5px;
    }
    .categoriesSection__single {
        flex-direction: row;
    }
    .categoriesSection__singleTitle {
        padding-top: 0px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 575px){
    .categoriesSection__single {
        flex-direction: column;

    }
    .categoriesSection__singleTitle{
        padding-right: 0;
    }
}