#checkoutSidebar{

}
.order-summary{

}
.checkout-box{
    margin-bottom: 20px;
}
.toggle-contacts{
    width: 100%;
    padding: 10px 20px;
    display: none;
}
.order-summary .box-bg-default{
    display: flex;
}
.order-summary .box-bg-default.visible{
    display: flex;
}
.contact-box{
    display: flex;
    padding: 20px;
    background: $gray-300;
    width: 100%;
}
.contact-box img{
    display: none;
}
.contact-box strong{
    position: relative;
    display: flex;
    align-items: flex-end;

    &::before{
        content: "";
        position: absolute;
        bottom: 20px;
    }
}
.contact-box ul{
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}
.order-summary-inner{
    background: $gray-300;
    padding: 20px;
    margin-bottom: 20px;
}
.order-summary-inner > h4{
    position: relative;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0%;
        transform: translateX(0%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.cart-items{

}
.cart-item{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
}
.cart-item-name{
    width: 100%;
}
.main-link{
    color: $gray-800;
}
.main-link-variant{
    color: $gray-700;
}
.cart-item-amount{
    flex-grow: 1;
}
.unit-value{

}
.cart-item-price{
    flex-shrink: 0;
    color: $red-800;
    font-weight: 600;
}

.next-step{
    display: flex;
    justify-content: space-between;
}

.order-summary-item{
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
    display: flex;
    align-items: baseline;
}
.order-summary-item.helper{
    display: none;
}
.order-summary-item.helper > div:last-child{
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}
.order-summary-item.price{
    border: 0;
    padding-bottom: 0;
}
.order-summary-item.price strong{
    flex-grow: 1;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.order-summary-item.price .price-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.order-recapitulation{
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
}
.recapitulation-single{

}
.recapitulation-single > span{
    font-size: 14px;
    color: $gray-700;
}
.recapitulation-single > strong{
    flex-grow: 1;
    display: flex;
}
.recapitulation-single > strong > span{
    flex-grow: 1;
    order: 1;
    justify-content: flex-end;
    display: flex;
}
.recapitulation-single.last{
    padding-top: 10px;
}
.order-summary-item.price .price.price-primary{
    color: $red-800;
}
.order-summary-item.price .price-secondary{
    font-size: 14px;
    color: $gray-700;
}

#checkoutSidebar .consents{
    font-size: 14px;
    padding: 0;
    margin-bottom: 20px;
}
#checkoutSidebar .consents label{
    margin: 0;
}