#checkoutSidebar{

}
.order-summary{
    background: $gray-300;
    padding: 20px;
    margin-bottom: 20px;
}
.checkout-box{

}
.toggle-contacts{
    width: 100%;
    padding: 10px 20px;
}
.order-summary .box-bg-default{
    display: none;
    margin-top: 10px;
}
.order-summary .box-bg-default.visible{
    display: flex;
}

.order-summary-inner{

}
.cart-items{

}
.cart-item{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.cart-item-name{
    width: 100%;
}
.main-link{

}
.main-link-variant{

}
.cart-item-amount{
    flex-grow: 1;
}
.unit-value{

}
.cart-item-price{
    flex-shrink: 0;
}

.next-step{
    display: flex;
    justify-content: space-between;
}