#checkoutSidebar{

}
.order-summary{

}
.checkout-box{
    margin-bottom: 20px;
}
.toggle-contacts{
    width: 100%;
    padding: 10px 20px;
    display: none;
}
.order-summary .box-bg-default{
    display: flex;
}
.order-summary .box-bg-default.visible{
    display: flex;
}
.contact-box{
    display: flex;
    padding: 20px;
    background: $gray-300;
    width: 100%;
}
.contact-box img{
    display: none;
}
.contact-box strong{
    position: relative;
    display: flex;
    align-items: flex-end;

    &::before{
        content: "";
        position: absolute;
        bottom: 20px;
    }
}
.contact-box ul{
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
}
.order-summary-inner{
    background: $gray-300;
    padding: 20px;
    margin-bottom: 20px;
}
.order-summary-inner > h4{
   
}
.cart-items{

}
.cart-item{
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
}
.cart-item-name{
    width: 100%;
}
.main-link{
    color: $gray-800;
}
.main-link-variant{
    color: $gray-700;
}
.cart-item-amount{
    flex-grow: 1;
}
.unit-value{

}
.cart-item-price{
    flex-shrink: 0;
    color: $red-800;
    font-weight: 600;
}

.next-step{
    display: flex;
    justify-content: space-between;
}

.cart-items.gift-item{
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
    display: flex;
    align-items: baseline;
}
.cart-items.gift-item.helper{
    
}
.cart-items.gift-item.price{
    border: 0;
}
.cart-items.gift-item.price strong{
    flex-grow: 1;
}
.order-recapitulation{
    padding: 10px 0;
    border-bottom: 1px solid $gray-400;
}
.recapitulation-single{

}