.client-center-box{
    padding: 0px;
    background: $gray-300;
}
.client-center-box ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.client-center-box a{
    padding: 14px 20px 14px 45px;
    color: $gray-900;
    display: flex;
    position: relative;
    font-size: 14px;
    border-top: 1px solid $gray-400;

    &::before{
        content: "";
        background: url("../icons/user.svg");
        background-size: 18px;
        height: 18px;
        width: 18px;
        display: flex;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover, &:active, &:focus{
        background: $gray-400;
        text-decoration: none;
    }
}
.client-center-box a[href="/klient/objednavky/"]::before{
    background-image: url("../icons/cart.svg");
}
.client-center-box a[href="/klient/klient-doklady/"]::before{
    background-image: url("../icons/document.svg");
}
.client-center-box a[href="/klient/klient-slevy/"]::before{
    background-image: url("../icons/discount.svg");
}
.client-center-box a[href="/klient/klient-hodnoceni/"]::before{
    background-image: url("../icons/star.svg");
}
.client-center-box a[href="/klient/klient-diskuze/"]::before{
    background-image: url("../icons/message.svg");
}

.client-center-box strong{
    font-size: 18px;
}
.client-center-box li:first-child a{
    padding: 10px 20px;

    &::before{
        content: none;
    }
}
.client-center-box li.active{
    background: $gray-400;
}

.client-center-box .logout{
    display: none;
}
.logout{
    padding: 0px;
    list-style: none;
}
.logout a{
    height: 36px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: $gray-900;
    background: $gray-300;
    text-transform: none;

    &:hover, &:active, &:focus{
        background: $gray-400;
        color: $gray-900;
    }
}
.client-contact-box{
    margin-top: 20px;
}
.client-contact-box strong{

}
.client-contact-box span{

}
.client-contact-box .checkout-box .contact-box ul{
    padding: 10px;
    padding-left: 20px;
}
.client-contact-box checkout-box .contact-box strong{
    width: 80px;
}