.client-center-box{
    padding: 0px;
    background: $gray-300;
}
.client-center-box ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.client-center-box a{
    padding: 10px 20px;
    color: $gray-900;
    display: flex;
}
.client-center-box .logout{
    padding: 0px;
}
.client-center-box .logout a{
    height: 26px;
    color: $white;
}