.client-center-box{
    padding: 0px;
    background: $gray-300;
}
.client-center-box ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.client-center-box a{
    padding: 10px 20px;
    color: $gray-900;
    display: flex;

    &:hover, &:active, &:focus{
        background: $gray-400;
        text-decoration: none;
    }
}
.client-center-box strong{
    font-size: 18px;
}
.client-center-box li.active{
    background: $gray-400;
}

.client-center-box .logout{
    display: none;
}
.logout{
    padding: 0px;
    list-style: none;
}
.logout a{
    height: 36px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: $gray-900;
    background: $gray-300;
    text-transform: none;

    &:hover, &:active, &:focus{
        background: $gray-400;
        color: $gray-900;
    }
}