.filters-wrapper{

}
.filters-wrapper > div:first-child{ 
    display: none;
}

.filters{
    background: $gray-300;
    padding: 20px;
}

@media (max-width: 991px){
    .filters-wrapper > div:first-child{ 
        display: flex;
    }
    .filters{ 
        position: fixed;
        z-index: 9;
        transform: translateX(100%);
        top: 0px;
        right: 0;
        height: 100%;
        transition: 0.3s ease transform;
    }
    .filters.visible{
        transform: translateX(0%);
    }
}

.filters fieldset > div{
    display: flex;
    align-items: center;
}
.filter-sections{

}
.filter-section{
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
}
.filters .slider-wrapper{
    display: none;
}

.filter-label{
    margin: 0;
    display: flex;
    align-items: baseline;
    padding-left: 10px;
}
.filter-count{
    color: $gray-700;
    font-size: 13px;
    padding-left: 3px;

    &::before{
        content: "(";
    }
    &::after{
        content: ")";
    }
}