.filters-wrapper{
    background: $gray-300;
    padding: 20px;
}
.filters-wrapper > div:first-child{
    display: none;
}
.filters{

}
.filter-sections{

}
.filter-section{

}
.filters .slider-wrapper{
    display: none;
}