.filters-wrapper{
    background: $gray-300;
    padding: 20px;
}
.filters-wrapper > div:first-child{ 
    display: none;
}
.filters{

}
.filter-sections{

}
.filter-section{
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
}
.filters .slider-wrapper{
    display: none;
}

.filter-label{
    margin: 0;
}
.filter-count{
    color: $gray-700;

    &::before{
        content: "(";
    }
    &::after{
        content: ")";
    }
}