footer{
    background: $gray-300;
    display: flex;
    flex-direction: column;
}
.footer-rows{

}
.footer-rows .site-name{
    display: none;
}
.footer-rows .custom-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.footer-rows .custom-footer > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;

    &:first-child{
        flex-grow: 1;
        width: 100%;
    }
}
.footer-rows .custom-footer > div > h4{
    display: flex;
    font-size: 20px;
}
.footer-rows .custom-footer > div > ul{
    list-style: none;
    padding: 0;
}
.footer-rows .custom-footer > div > .contact-box{

}
.footer-rows .custom-footer > div > .contact-box > ul{
    list-style: none;
    padding: 0;
}


.footer-bottom{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
#signature img{
    height: 22px;
}
#signature .title{
    color: $gray-900;
    padding-left: 5px;
}
.copyright{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.copyright strong{
    padding: 0 0 0 3px;
}