footer{
    background: $gray-300;
    display: flex;
    flex-direction: column;
}
.footer-rows{

}
.footer-rows .site-name{
    display: none;
}
.footer-rows .custom-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.footer-rows .custom-footer > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;

    &:first-child{
        flex-grow: 1;
        width: 100%;
    }
}
.footer-rows .custom-footer > div > h4, .footer-rows .banner-wrapper h4{
    display: flex;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.footer-rows .custom-footer > div > ul, .footer-rows .banner-wrapper ul{
    list-style: none;
    padding: 0;
}
.footer-rows .custom-footer > div > ul > li, .footer-rows .banner-wrapper li{
    
}
.footer-rows .custom-footer > div > ul > li > a, .footer-rows .banner-wrapper a{
    color: $gray-900;
    font-size: 14px;
    line-height: 22px;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $gray-700;
    }
}

.footer-rows .custom-footer > div > .contact-box{

}
.footer-rows .custom-footer > div > .contact-box > ul{
    list-style: none;
    padding: 0;
}


.footer-bottom{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    &::before{
        content: "";
        display: flex;
        background: $gray-400;
        height: 1px;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 0;
    }
}
#signature{
    order: 1;
}
#signature img{
    height: 22px;
}
#signature .title{
    color: $gray-900;
    padding-left: 5px;
}
.copyright{
    flex-grow: 1;
    display: flex;
    order: 0;
    justify-content: flex-start;
}
.copyright strong{
    padding: 0 0 0 3px;
}