footer{
    background: $gray-300;
    display: flex;
    flex-direction: column;
}
.footer-rows{

}
.footer-rows .site-name{
    display: none;
}
.footer-rows .custom-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    margin: 0 -10px;
}
@media screen and (max-width: 500px){
    .footer-rows .custom-footer{
        padding-bottom: 20px;
    }
}
.footer-rows .custom-footer .banner-wrapper{
    padding: 0;
}
.footer-rows .custom-footer > div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
    max-width: 33.333%;

    &:first-child{
        flex-grow: 1;
        width: 100%;
        min-width: 100%;

        .banner-wrapper{
            width: 100%;

            & > span{
                width: 100%;
            }
        }
    }
    &:last-child{
        display: none;
    }
}
@media screen and (max-width: 991px){
    .footer-rows .custom-footer > div{
        width: 50%;
        padding: 10px;
        max-width: none;
    }
    .footer-rows .custom-footer > div > h4, .footer-rows .banner-wrapper h4{
        font-size: 16px;
    }
}


.footer-rows .custom-footer > div > h4, .footer-rows .banner-wrapper h4{
    display: flex;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: 600;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.footer-rows .custom-footer > div > ul, .footer-rows .banner-wrapper ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-rows .custom-footer > div > ul > li, .footer-rows .banner-wrapper li{
    
}
.footer-rows .custom-footer > div > ul > li > a, .footer-rows .banner-wrapper a, .footer-rows .custom-footer>div>.contact-box a{
    color: $gray-800;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    word-break: break-word;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $gray-700;
    }
}

.footer-rows .custom-footer > div > .contact-box{

}
.footer-rows .custom-footer > div > .contact-box > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-rows .custom-footer > div > .contact-box li{
    line-height: 22px;
}
.footer-rows .custom-footer > div > .contact-box a{
    color: $gray-800;
    font-size: 14px;
}

.footer-bottom{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    &::before{
        content: "";
        display: flex;
        background: $gray-400;
        height: 1px;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 0;
    }
}
@media screen and (max-width: 991px){
    .footer-bottom{
        flex-direction: column;
    }
}
#signature{
    order: 1;
}
#signature img{
    height: 18px;
}
#signature img.--benlemi{
    margin: 0 5px;
}
#signature .title{
    color: $gray-800;
    padding-left: 5px;
    font-size: 14px;
}
#signature .title.--benlemi{
    margin-right: 10px;
}
.copyright{
    flex-grow: 1;
    display: flex;
    order: 0;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;

    /*
    &::after{
        content: "Podle zákona o evidenci tržeb je prodávající povinen vystavit kupujícímu účtenku. Zároveň je povinen zaevidovat přijatou tržbu u správce daně online; v případě technického výpadku pak nejpozději do 48 hodin.";
        display: flex;
        width: 100%;
        font-size: 12px;
        color: $gray-700;
    }
    */    
}
.copyright strong{
    padding: 0 0 0 3px;
}

.footer-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
.footer-icons img{
    height: 50px;
    width: auto;
    margin: 10px;
}
.footer-icons > img:last-child{
    height: 30px;
}