::placeholder{
    color: $gray-700;
}

.form-group{
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
.input-wrapper.password{

}
.form-control{
    background: $white;
    border: 1px solid $gray-500;
    height: 48px;
    padding: 0 20px;
    width: 100%;
}
textarea.form-control{
    padding: 20px;
    min-height: 100px;
}
.password-helper{
    text-align: center; 
    padding-top: 20px;
    a{
        margin: 0 20px;
    }
}
input.form-control:disabled, select.form-control:disabled{
    background: $gray-300;
    border: 1px solid $gray-500;
    cursor: not-allowed;
}


.cart-content{
    input[type="checkbox"]{
        -webkit-appearance: none;
        position: absolute;
    }
    input[type="checkbox"] + label{
        margin: 0;
        flex-grow: 1;
        padding: 15px 10px;
        padding-left: 34px;
        border: 1px solid $gray-500;
        position: relative;
        cursor: pointer;
        margin: 0;
        display: block;
    
        &::before{
            content: "";
            background: transparent;
            height: 14px;
            width: 14px;
            display: flex;
            margin-right: 10px;
            position: absolute;
            left: 10px;
            top: 19px;
            border-radius: 0%;
            border: 2px solid $gray-600;
        }
    }
    input[type="checkbox"]:checked + label{
    
        &::after{
            content: "";
            background-color: $green-700;
            background-image: url("../icons/check-white.svg");
            background-position: center center;
            background-size: 12px 12px;
            background-repeat: no-repeat;
            height: 14px;
            width: 14px;
            display: flex;
            margin-right: 10px;
            position: absolute;
            left: 10px;
            top: 19px;
            border-radius: 0%;
        }
    }
    .additional-information{
        color: $gray-700;
    }
}
