header{
    background: $white;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        height: 50px;
        background: $gray-300;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}
@media screen and (max-width: 991px){
    header .container {
        padding: 0;
    }
}
