.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* border-bottom: 1px solid $gray-400; */
}
.header-top div{
    flex-shrink: 0;
}
.site-name{
    height: 60px;
    margin: 0;
}
.site-name a{
    display: flex;
    height: 100%;
}
.site-name img{
    max-height: 100%;
}
.header-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.header-contacts a{
    position: relative;
    color: $gray-900;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-500;
    }
    &::before{
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 0%;
        background-image: url($i-phone);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate(0%,-50%);
    }
}
.header-contacts a:first-child{
    padding-right: 40px;
    &::before{
        background-image: url($i-envelope);
    }

}
@media screen and (max-width: 991px){
    .header-contacts{
        display: none;
    }
}


.search{
    height: 46px;
    padding-right: 40px;
}
.search-form{
    height: 100%;
}
.search-form fieldset{
    display: inline-block;
    height: 100%;
    position: relative;
}
.search-form input{
    border: 0;
    height: 100%;
    background: $gray-200;
    padding: 0 20px;
    display: none;
}
.search:hover fieldset input, .search fieldset input:focus,  .search fieldset input:active{
    display: inline-block;
  }
.search-whisperer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $gray-200;
    transform: translateY(100%);
    z-index: 99;

    &.active{

    }
}
.search-whisperer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.search-whisperer ul > li{

}
.search-form .btn{
    font-size: 0;
    position: relative;
    background: transparent;
    width: 46px;
    float: right;
    cursor: pointer;
    background: $gray-200;

    &::after{
        content: "";
        height: 24px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-image: url($i-search);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate(-50%,-50%);
    }
}