#header{
    background: $white;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        height: 50px;
        background: $gray-300;
        left: 0;
        width: 100%;
        z-index: 1;
        transition: 0.3s box-shadow ease;
    }
    &::after{
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        height: 200vh;
        width: 100%;
        left: 0;
        display: none;
        transform: translateY(160px);
        background: rgba(0,0,0,0.4);
    }
}
.submenu-active #header::after{
    display: flex;
}

#header.scroll::before {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
}

.menu-item-responsive{
    display: none;
}

@media screen and (max-width: 991px){
    #header {
        height: 56px;
    }
    #header .container {
        padding: 0;
    }
    .submenu-active #header::after{
        display: none;
        padding: 10px 20px;
    }
    .menu-item-responsive{
        display: flex;
    }
}

body.ordering-process #header.scroll::before, body.type-detail #header.scroll::before{
    box-shadow: none;
}
