.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* border-bottom: 1px solid $gray-400; */
}
@media screen and (max-width: 991px){
    .header-top{
        height: 56px;
        position: fixed;
        z-index: 2;
        width: 100%;
        background: $white;
        transition: 0.3s ease all;
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.05);
        
        &.--active{
            /*transform: translate(200px, 0px);*/
        }
        &.--active + #navigation .menu{
            transform: translate(0%, 0);
        }
    }
}
.header-top div:nth-child(2){
    flex-shrink: 1;
}
.site-name{
    height: 46px;
    margin: 0;
}
@media screen and (max-width: 991px){
    .site-name{
        height: 46px;
        margin-left: 0px;
    }
}
.site-name a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.site-name img{
    height: 100%;
    max-height: 100%;
}
.header-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.header-contacts a{
    position: relative;
    color: $gray-800;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-700;
    }
    &::before{
        content: "";
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 0%;
        background-image: url($i-phone);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate(0%,-50%);
    }
}
.header-contacts a:last-child{
    padding-right: 40px;
    &::before{
        background-image: url($i-envelope);
    }

}
@media screen and (max-width: 991px){
    .header-contacts{
        display: none;
    }
}


.search{
    height: 46px;
    padding-right: 0px;
    margin: 0 10px;
}
.search-form{
    height: 100%;
}
.search-form fieldset{
    display: inline-block;
    height: 100%;
    position: relative;
}
.search-form input{
    border: 0;
    height: 100%;
    background: $gray-300;
    padding: 0 20px;
    display: none;
    width: auto;
}
.search:hover fieldset input, .search fieldset input:focus,  .search fieldset input:active{
    display: inline-block;
}
.search:hover fieldset .btn, .search fieldset input:focus ~ .btn,  .search fieldset input:active ~ .btn{
    display: inline-block;
    background: $gray-300;
}


.search-whisperer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $gray-300;
    transform: translateY(100%);
    z-index: 99;

    &.active{

    }
}
.search-whisperer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.search-whisperer ul > li{

}
.search-whisperer ul > li{

}
.search-whisperer ul > li >a{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.search-whisperer .search-whisperer-image{
    width: 60px;
}
.search-whisperer .p-info{
    font-size: 14px;
    color: $gray-800;
}
.search-whisperer .price-final{
    color: $red-800;
}
.search-whisperer-empty{
    padding: 10px 20px;
}

.search-form .btn{
    font-size: 0;
    position: relative;
    background: transparent;
    width: 46px;
    float: right;
    cursor: pointer;
    background: $white;
    transition: 0s ease all;

    &:hover, &:active, &:focus{
        background: $gray-300;
    }
    &::after{
        content: "";
        height: 24px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-image: url($i-search);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translate(-50%,-50%);
    }
}


@media screen and (max-width: 991px){
    .search{
        padding: 0;
        position: absolute;
        top: 56px;
        margin: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease opacity;
    }
    .search.--active{
        opacity: 1;
        pointer-events: auto;

        &::after{
            content: "";
            background: rgba($black, 0.8);
            position: absolute;
            height: 100vh;
            width: 100%;
          }
    }
    .search-form fieldset {
        width: 100%;
    }
    .search-form input{
        display: flex;
        width: 100%;
    }
    .search-form .btn {
        font-size: 0;
        position: absolute;
        top: 0;
        right: 0;
        background: $gray-300;
    }
}


.nav-menu-toggle{
    display: none;
}

@media screen and (max-width: 991px){
    .nav-menu-toggle{
        display: flex;
        height: 56px;
        width: 52px;
        position: relative;
        flex-shrink: 0;
    }
    .nav-menu-toggle span{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        transition: 0.3s all ease;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        background: $gray-700;

        &::before, &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 18px;
            background: $gray-700;
            transform: translate(0, -300%);
        }
       &::after{
            top: auto;
            transform: translate(0%, 300%);
        }
    }
}