.in-klient-slevy .content table{
    width: 100%;

    td{
        border: 1px solid $gray-400;
        padding: 10px;
    }
}
.in-klient-slevy .content table + p{
    color: $gray-700;
    margin-top: 10px 20px;
}

.in-klient, .in-objednavky{

    .content-inner h2{
        font-size: 18px;
    }
    .content-inner .table{
        word-break: break-word;
    }
    .content-inner .table th{
        border-bottom: 1px solid $gray-400;
        padding: 10px 10px;
        font-size: 14px;
    }
    .content-inner .table td{
        background: $gray-300;
        padding: 10px 10px;
        font-size: 14px;
    }
}

.in-klient .content, .in-nastaveni .content, .in-objednavky .content, 
.in-klient-objednavky .content, .in-klient-slevy .content, .in-klient-hodnoceni .content, .in-klient-doklady .content,
.in-klient-diskuze .content, .in-zapomenute-heslo .content, .in-dorucovaci-udaje .content{
    width: 75%;
}
@media screen and (max-width: 991px){
    .in-klient .content, .in-nastaveni .content, .in-objednavky .content, 
    .in-klient-objednavky .content, .in-klient-slevy .content, .in-klient-hodnoceni .content, .in-klient-doklady .content,
    .in-klient-diskuze .content, .in-zapomenute-heslo .content, .in-dorucovaci-udaje .content{
        width: 100%;
    }
}