.in-klient, 
.in-client-center{
    .content-inner h1 + p{
        color: $gray-800;
        margin-bottom: 20px;
    }    
}

.in-klient, .in-objednavky, .in-klient-hodnoceni, .in-klient-doklady,
.in-klient-hodnotenie,
.in-client-center, .in-my-orders, .in-client-ratings{

    .content-inner h2{
        font-size: 18px;
    }
    .content-inner .table{
        word-break: break-word;
        width: 100%;
    }
    .content-inner .table th{
        border-bottom: 1px solid $gray-400;
        padding: 10px 10px;
        color: $gray-800;
        font-size: 13px;
        font-weight: 400;
    }
    .content-inner .table td{
        background: $gray-300;
        padding: 10px 10px;
        font-size: 14px;
    }
    .content-inner .table .stars{
        justify-content: flex-start;
    }
    .content-inner .table .btn-primary{
        background: $gray-400;
        color: $gray-900;

        &:hover, &:active, &:focus{
            background: $gray-500;
            border: 0;
        }
    }
    .content-inner .table tr th:nth-child(5){
        display: none;
      }
    .content-inner .table tr td:nth-child(5){
        display: none;
      }
      
}

.in-klient-slevy, 
.in-klient-zlavy,
.in-client-discounts{
    .content table{
        width: 100%;
        td{
            border: 1px solid $gray-400;
            padding: 10px;

            &:first-child{
                display: none;
            }
        }
    }
    .content table + p{
        color: $gray-800;
        margin-top: 10px 20px;
    }
}


.in-klient, .in-nastaveni, .in-objednavky, .in-klient-slevy, .in-klient-hodnoceni, .in-klient-doklady, .in-klient-diskuze, .in-zapomenute-heslo, .in-dorucovaci-udaje,
.in-nastavenie, .in-klient-zlavy, .in-klient-hodnotenie, .in-klient-diskusia, .in-zabudnute-heslo,
.in-client-center, .in-my-account-settings, .in-my-orders, .in-client-discounts, .in-client-ratings, .in-client-documents, .in-client-discussion, .in-forgotten-password, .in-shipping-address
{
    .content{
        width: 75%;

        .content-inner h1{
            text-align: center;
            position: relative;
            display: flex;
            justify-content: flex-start;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-bottom: 15px;
            color: $gray-800;
        
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 6px;
                width: 40px;
                background: $green-200;
            }
        }
    }
    @media screen and (max-width: 991px){
        .content{
            width: 100%;
        }
    }
}
