
.in-login{
    .content{
        width: 100%;
    }
    .content-inner{
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.08);
        background: $white;
        padding: 40px;
    }
    .login-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-inner form .btn{
        width: 161px;
        background: $orange-700;
        color: $white;

        &:hover, &:active, &:focus{
            color: $white;
            background: $orange-800;
        }
    }
    .content-inner h1{
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 15px;
        color: $gray-800;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 6px;
            width: 40px;
            background: $green-200;
        }
    }
    .content-inner h1.spaced{
        margin-top: 30px;
        padding-top: 40px;
        border-top: 1px solid $gray-400;
    }
    #formLogin .login-wrapper button + a{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .content-inner h1.spaced, .content-inner h1.spaced+form{
        display: none;
    }
    
}

@media screen and (max-width: 991px){
    .in-login{
        .content-inner{
            width: 100%;
            box-shadow: none;
            background: $white;
            padding: 0px;
        }
    }
}

.login-close{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 0;  
    background-color: rgba($black, 0.1);
    background-image: url("../icons/close.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    cursor: pointer;
}

.login-form-register-title{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: $gray-800;
    margin-top: 40px;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.login-form-points{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form-points-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.login-form-point{
    width: 50%;
    font-size: 14px;
    text-align: left;
    color: $gray-900;
    padding: 3px 0;
    position: relative;
    display: flex;
    align-items: center;

    &::before{
        content: "";
        height: 8px;
        width: 8px;
        flex-shrink: 0;
        border-radius: 50%;
        background: $green-200;
        display: flex;
        margin-right: 15px;
    }
}

@media (max-width: 500px){
    .login-form-point{
        width: 100%;
    }
    .in-login .content-inner h1, .login-form-register-title{
        font-size: 20px;
        margin-top: 0px;
    }
}
