.menu{
    display: flex;
    background: $gray-300;
    position: relative;
    z-index: 2;
}
.menu-level-1{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.menu-level-1 > li{
    height: 50px;
}
.menu-level-1 > li > a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-900;
    padding: 0 20px;

    &:hover, &:active, &:focus{
        text-decoration: none;
        background: transparent;
    }
}
.menu-level-1 > li > a > b{
    font-weight: 400;
}

@media screen and (max-width: 991px){
    header::before {
        content: none;
    }
    .menu{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        overflow-y: auto;
        height: 100%;
        width: 200px;
        transform: translate(-100%, 0);
        transition: 0.3s ease transform;
    }
    .menu-level-1{
        flex-direction: column;
    }
    .menu-level-2{
        position: relative;
        flex-direction: column;
    }
}

.menu-level-2{
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    background: $white;
    left: 0;
    width: 100%;
}
.menu-level-1 > li:hover .menu-level-2{
    display: flex;
}
.menu-level-2 > li{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-level-2 > li > a{

}
.menu-level-2 > li > a > img{
    height: 50px;
}
.menu-level-2 > li > div{

}
.menu-level-2 > li > div > a{

}
.menu-level-2 > li > div > a > span{

}

.menu-helper{
    display: none;
}