.menu{
    display: flex;
    background: $gray-300;
    position: relative;
    z-index: 2;
}
.menu-level-1{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 14px;
}
.menu-level-1 > li{
    height: 50px;

    &:hover, &:active, &:focus{
        text-decoration: none;
        background: $white;
    }
}
.menu-level-1 > li > a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-800;
    padding: 0 20px;

    &:hover, &:active, &:focus{
        text-decoration: none;
        background: transparent;
    }
}
.menu-level-1 > li > a > b{
    font-weight: 400;
}

.menu-level-2{
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    background: $white;
    left: 0;
    width: 100%;
    padding: 10px 0;
    flex-wrap: wrap;
}
.menu-level-1 > li:hover .menu-level-2{
    display: flex;
}
.menu-level-2 > li{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
}
.menu-level-2 > li > a{
    flex-shrink: 0;
}
.menu-level-2 > li > a > img{
    height: 50px;
}
.menu-level-2 > li > div{
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-direction: column;
}
.menu-level-2 > li > div > a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: $gray-800;

    &:hover, &:active, &:focus{
        text-decoration: none;
        background: transparent;
    }
}
.menu-level-2 > li > div > a > span{

}

.menu-level-3{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.menu-level-3 > li{
    font-size: 13px;
}

.menu-helper{
    position: fixed;
    top: 0px;
    display: none;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 2;
}
@media screen and (max-width: 991px){
    body.--noScroll .menu-helper{
        display: flex;
    }   
}


.menu-helper *{
    display: none;
}


@media screen and (max-width: 991px){
    header::before {
        content: none;
    }
    .menu{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;
        overflow-y: auto;
        height: 100%;
        width: 200px;
        transform: translate(-100%, 0);
        transition: 0.3s ease transform;
        background: $white;
    }
    .menu-level-1{
        flex-direction: column;
    }
    .menu-level-1 > li{
        height: auto;
    }
    .menu-level-1 > li > a{
        justify-content: flex-start;
        height: 50px;
    }
    .menu-level-2{
        position: relative;
        flex-direction: column;
        background: $gray-200;
    }
    .menu-level-2 > li {
        justify-content: flex-start;
    }
    .menu-level-2 .menu-image {
        height: 36px;
    }
}