.messages{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.msg-wrapper{
    width: 100%;
}
.msg{
    width: 100%;
    padding: 10px 20px;
    background: rgba($black, 0.7);
    color: $white;
}