.messages{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
}
.msg-wrapper{
    width: 100%;
}
.msg{
    width: 100%;
    padding: 10px 20px;
    background: rgba($black, 0.7);
    color: $white;
}
.messages a{
    color: $white; 
}
.msg{
    width: 100%;
    padding: 20px 20px;
    background: $green-700;
    color: $white;   
    display: flex;
    text-align: left;
    align-items: center;
}
.msg-success::before{
    content: "✓";
    font-size: 24px;
}
.msg-error::before{
    content: "✕";
    font-size: 24px;
}
.msg-error{
    background: #c53030;
}
.msg-warning{
    background: $gray-300;
    color: $gray-900;
}
.messages{
    display: flex;
    position: fixed;
    bottom: 20px;
    top: auto;
    left: auto;
    right: 20px;
    width: 400px;
    text-align: center;
    z-index: 9;
    box-shadow: 0px 5px 5px rgba($black,0.08);
}