.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.news-item{
    width: 25%;
    padding: 10px;
}
.news-item > .image{
    display: flex;
}
.news-item > .image > a{
    
}
.news-item > .image > a > img{
    
}
.news-item > .text{
    display: flex;
    flex-direction: column;
}
.news-item > .title{
    font-size: 16px;
}
.news-item > time{
    font-size: 14px;
}
.news-item > .description{

}