.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.news-item{
    width: 33.333%;
    padding: 10px;
}
.news-item > .image{
    position: relative;
}
.news-item > .image > a{
    height: 220px;
    display: flex;
}
.news-item > .image > a > img{
    object-fit: cover;
}
.news-item > .text{
    display: flex;
    flex-direction: column;
}
.news-item .title{
    font-size: 16px;
    font-weight: 500;
    color: $gray-800;
    padding: 10px 0;
    order: 0;
}
.news-item time{
    font-size: 14px;
    color: $gray-700;
    order: 2;
    font-weight: 600;
    padding-top: 10px;
}
.news-item .description{
    font-size: 14px;
    order: 1;
    color: $gray-700;
}
.news-item .description p{
    margin: 0;
}