#newsletterSection{
    padding: 60px 0;
    background: $gray-300;
    position: relative;
}
#newsletterSection .container{

}
.newsletterSection__title{
    position: relative;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: $gray-800;
    
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }  
}
.newsletterSection__form{
    background: $white;
    padding: 60px;
    position: relative;
}
.newsletterSection__formGroup{
    display: flex;
    margin-left: 10px;
}
.newsletterSection__input{

}
.newsletterSection__btn{

}
.newsletterSection__consent{
    font-size: 14px;
    color: $gray-700;

    label{
        margin: 0;
    }
}