.vyhody{

}
.vyhody__title{

}
.vyhody__single{
    display: flex;
    padding: 20px 0;
}
.vyhody__singleImg{
    width: 100px;
}
.vyhody__singleContent{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vyhody__singleTitle{

}
.vyhody__singleText{
    margin: 0;
}