.oNas{

}
.oNas__quote{

}
.oNas__headerImg{

}
.oNas__h2{

}
.oNas__p{

}
.oNas__points{

}
.oNas__point{

}
.oNas__pointImg{

}
.oNas__pointTitle{

}
.oNas__link{

}
.oNas__profiles{
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
.oNas__profile{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.oNas__profileImgWrap{
    height: 150px;
    width: 150px;
}
.oNas__profileImg{

}
.oNas__profileTitle{
    padding-top: 20px;
}
.oNas__profileSubtitle{

}
.oNas__profileText{
    color: $gray-700;
    font-size: 14px;
}