.pagination{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.pagination a, .pagination .current{
    padding: 10px;
    height: 48px;
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.pagination-link{

}
.pagination-top{
    display: none;
}