
.kontaktyTop{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0 60px 0;
    background: $white;
    margin-bottom: 60px;
    border-bottom: 1px solid $gray-400;
}
.kontaktyTop__col{
    width: 33.333%;
    text-align: center
}
@media screen and (max-width: 500px){
    .kontaktyTop__col{ 
        width: 100%;
        padding: 10px 0;
    }
}
.kontaktyTop__img{
    height: 80px;
}
.kontaktyTop__title{
    margin: 10px 0;
    color: $green-700;
    font-size: 20px;
}
.kontaktyTop__text{
    font-size: 16px;
    margin: 0;
}

.kontakty__info{
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $gray-400;
    display: flex;
    flex-wrap: wrap;
}
.kontakty__infoTitle{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: $gray-800;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0%;
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.kontakty__infoWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.kontakty__infoTitle{
    margin-bottom: 20px;
}
.kontakty__infoMap{
    flex-grow: 1;
    margin-left: 40px;
}
@media screen and (max-width: 767px){
    .kontakty__infoMap{
        margin: 0;
    }
}
.kontakty__showroom{
    padding-bottom: 60px;
    border-bottom: 1px solid $gray-400;
}
.kontakty__showroomTitle{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: $gray-800;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
.kontakty__showroomMap{
    max-width: 720px;
    margin: 0 auto;
}
.kontakty__showroomMap img{

}

.kontakty__form{
    padding: 60px 0;
    margin-bottom: 60px;
    border-bottom: 1px solid $gray-400;
}
.kontakty__formTitle{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: $gray-800;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}



.kontakty__profiles{

}
.kontakty__profilesRow{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.kontakty__profilesTitle{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: $gray-800;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}

.personalProfile{ 
    width: 33.333%;
    padding: 30px 10px 30px 10px;
}
.personalProfile__inner{
    background: $white;
    box-shadow: 0px 4px 15px rgba($black,0.08);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personalProfile__img{
    height: 220px;
    width: 220px;
    margin-top: -70px;
    max-width: 100%;
}
.personalProfile__title{
    font-size: 18px;
    padding-top: 20px;
}
.personalProfile__subtitle{
    font-size: 14px; 
}
.personalProfile__link{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-700;
    margin-top: 20px;
}
.personalProfile__link img{
    margin-right: 10px;
}

@media screen and (max-width: 991px){
    .personalProfile{ 
        width: 50%;
    }
}
@media screen and (max-width: 500px){
    .personalProfile{ 
        width: 100%;
    }
}