.pagination{
    margin: 20px -5px;
    display: flex;
    justify-content: flex-end;
}
.pagination a, .pagination .current{
    padding: 10px;
    height: 46px;
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid $gray-400;
    font-size: 14px;

    &:hover, &:active, &:focus{
        text-decoration: none;
    }
}
.pagination-link{

}
.pagination-top{
    display: none;
}