#pointsSection{
    padding: 40px 0;
    background: $white;
}
#pointsSection .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#content-wrapper #pointsSection .container{
    padding: 0;
}
.pointSingle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}
.pointSingle__imgWrap{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointSingle__imgWrap img{
    width: 100%;
}
/*
.pointSingle{
    &:nth-child(2) .pointSingle__imgWrap{
        background: $yellow-100;    
    }
    &:nth-child(3) .pointSingle__imgWrap{
        background: $green-100;    
    }
    &:nth-child(4) .pointSingle__imgWrap{
        background: $blue-100;    
    }
    &:nth-child(5) .pointSingle__imgWrap{
        background: $yellow-100;    
    }
    &:nth-child(6) .pointSingle__imgWrap{
        background: $blue-100;    
    }
}
*/

.pointSingle__title{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $gray-800;

    strong{
        font-weight: 600;
    }
}

@media screen and (max-width: 991px){
    #pointsSection {
        padding: 20px 0;
    }
    .pointSingle__imgWrap {
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 500px){
    .pointSingle{
        width: 100%;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
    }
    .pointSingle__imgWrap img{
        width: 40px;
    }
    .pointSingle__title{
        padding: 0;
        padding-left: 10px;
    }
    .pointSingle__imgWrap{
        height: 50px;
        width: 50px;
    }
}