.type-detail{
    .tooltip{
        display: none;
    }
}
.p-detail{

}
.p-detail-inner{

}
.p-detail-inner-header{
    order: 0;
    h1{

    }
}
#product-detail-form{

}
.product-top{

}
.p-detail-info{
    display: none;
}
.p-detail-info .flags{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}
.p-detail-info .flag{
    margin-bottom: 5px;
    padding: 0 5px;
    height: 22px;
    background: $white;
    color: $gray-800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-detail-info .flag .price-standard{
    display: none;
}
.stars-wrapper{
    order: 10;
    margin-bottom: 10px;
}
.p-image-wrapper{
    padding-right: 30px;
}
.p-image{

}
.p-thumbnails-wrapper{
    margin-top: 20px;
}
.p-thumbnails{

}
.p-thumbnails-inner{

}
.p-thumbnails-inner > div{
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
}
.p-thumbnail{
    display: flex;
    padding: 5px;
    flex-grow: 1;
    width: 20%;
}
.p-thumbnail img{
    min-width: 100%;
}
.thumbnail-prev{

}
.thumbnail-next{

}
.p-info-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.p-final-price-wrapper{
    order: 25;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.price-final{

}
.price-final-holder{
    color: $red-700;
    font-size: 24px;
    font-weight: 700;
}
.price-measure{

}
.availability-value{
    font-size: 14px;
    font-weight: 600;
    color: $green-500;
    order: 21;
}
.availability-label{

}
.availability-amount{

}
.detail-parameters{
    display: flex;
    order: 20;
}
.detail-parameters tbody{
    width: 100%;
}
.variant-list{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.variant-list th{
    padding-bottom: 5px;
}
.variant-list select{
    width: 360px;
    max-width: 100%;
    background: $gray-300;
    height: 48px;
    padding: 0 20px;
    border: 1px solid $gray-400;
    -webkit-appearance: none;
    background-image: url("../icons/arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
#simple-variants{
    margin: 0 -5px;
}
.advanced-parameter{
    position: relative;
    padding: 5px;
    margin: 0;

    input{
        -webkit-appearance: none;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
.variant-default{
    display: none;
}
.advanced-parameter-inner{
    display: flex;
}
.add-to-cart{
    display: flex;
    order: 40;
    padding-top: 20px;
}
.add-to-cart .quantity{
    margin-right: 10px;
    position: relative;
    max-width: 120px;
}
.add-to-cart .amount{
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid $gray-400;
    text-align: center;
}
.add-to-cart .increase, .add-to-cart .decrease{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;

    &::before, &::after{
        content: "";
        background: $gray-800;
        height: 2px;
        width: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &::after{
        height: 10px;
        width: 2px;
    }
}
.add-to-cart .decrease{
    left: 0;
    right: auto;
    &::after{
        content: none;
    }
}
.add-to-cart .add-to-cart-button{
    padding: 0 30px;
}
.p-short-description{
    order: 20;
    font-size: 14px;
    padding-top: 10px;
}
.p-short-description + p{

}
.social-buttons-wrapper{
    display: none;
}


@media screen and (max-width: 991px){
    .p-image-wrapper {
        padding-right: 10px;
    }
    .p-info-wrapper{
        padding-left: 10px;
    }
}



.p-detail-tabs-wrapper{

    .responsive-nav{
        display: flex;
        margin-top: 40px;
    }
    .shp-tabs-holder{
        width: 100%;
        background: $gray-300;
        margin-bottom: 20px;
    }
    .p-detail-tabs li{
        &.active{
            background: $gray-400;
            
            a{
                color: $gray-800;
            }
        }
    }  
    .p-detail-tabs a{
        padding: 10px 20px;  
        display: flex;
        color: $gray-700;

        &:hover, &:active, &:focus{
            text-decoration: none;
            color: $gray-800;
        }
    }
    .navigation-btn{
        display: none;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li{

    }
    a{
  
    }
}
.detail-parameters{
    tr{

    }
    th{

    }
    td{

    }
}

#productDiscussion, a[href="#productDiscussion"]{
    display: none !important;
}
#ratingTab{
    display: flex;
    padding: 40px 0;
    margin: 0 -10px;
}
#ratingProduct{
    width: 50%;
    padding: 0 10px;
}
#ratingStore{
    width: 50%;
    padding: 0 10px;
}