.products-inline{
    display: flex;
    flex-wrap: wrap;
}
.product{
    position: relative;
    width: 25%;
    padding: 10px;
}
.p{
    position: relative;
    display: flex;
    flex-direction: column;
}
.p .image{

}
.p .flags{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}
.p .flags .flag{
    margin-bottom: 5px;
    padding: 0 5px;
    height: 22px;
    background: $white;
    color: $gray-800;
    display: flex;
    justify-content: center;
    align-items: center;

    .flag-action{

    }
}
.p-in{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.p-in-in{

}
.p-in-in .name{
    text-decoration: none;
    color: $gray-900;

    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $green-900;
    }
}
.p .p-bottom{

}
.p .prices{
    color: $red-700;
}
.p .price-final{

}
.p .price-final strong{
    position: relative;
    display: flex;

    &::before{
        content: "od";
        display: flex;
        padding-right: 4px;
    }
}
.p .p-tools{
    display: none;
}
.p .ratings-wrapper{

}
.p .stars-placeholder{

}
.p .availability{
    display: flex;
}
.p .availability span{

}
.p .availability .availability-amount{

}
.p-code{
    display: none;
}

.products-page{
    .product{
        width: 33.333%;
    }
}