.p-detail{

}
.p-detail-inner{

}
.p-detail-inner-header{
    order: 0;
    h1{

    }
}
#product-detail-form{

}
.product-top{

}
.p-detail-info{

}
.p-detail-info .flags{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}
.p-detail-info .flag{
    margin-bottom: 5px;
    padding: 0 5px;
    height: 22px;
    background: $white;
    color: $gray-800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars-wrapper{
    order: 10;
    margin-bottom: 10px;
}
.p-image-wrapper{

}
.p-image{

}
.p-thumbnails-wrapper{

}
.p-thumbnails{

}
.p-info-wrapper{
    display: flex;
    flex-direction: column;
}
.p-final-price-wrapper{
    order: 25;
}
.price-final{

}
.price-final-holder{
    color: $red-700;
    font-size: 24px;
    font-weight: 600;
}
.price-measure{

}
.availability-value{
    font-size: 14px;
    font-weight: 600;
    color: $green-500;
    order: 21;
}
.availability-label{

}
.availability-amount{

}
.detail-parameters{
    display: flex;
}
.add-to-cart{
    display: flex;
    order: 40;
    padding-top: 20px;
}
.add-to-cart .quantity{
    margin-right: 10px;
    position: relative;
    max-width: 120px;
}
.add-to-cart .amount{
    height: 46px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid $gray-400;
    text-align: center;
}
.add-to-cart .increase, .add-to-cart .decrease{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;

    &::before, &::after{
        content: "";
        background: $gray-800;
        height: 2px;
        width: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &::after{
        height: 10px;
        width: 2px;
    }
}
.add-to-cart .decrease{
    left: 0;
    right: auto;
    &::after{
        content: none;
    }
}
.add-to-cart .add-to-cart-button{
    padding: 0 30px;
}
.p-short-description{
    order: 20;
    font-size: 14px;
}
.p-short-description + p{

}
.social-buttons-wrapper{
    display: none;
}


.p-detail-tabs-wrapper{
    .responsive-nav{
        display: flex;
    }
    .p-detail-tabs a{
        padding: 10px 20px;  
    }
    .navigation-btn{
        display: none;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li{

    }
    a{
  
    }
}