#productsRelated{
    padding-top: 20px;
}
.products-related-header{
    text-align: left;
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    color: $gray-800;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 6px;
        width: 40px;
        background: $green-200;
    }
}
@media screen and (max-width: 500px){
    .products-related-header{

    }
}
.products-related{

}
.products-related .product{
    width: 25%;
    flex-basis: 25%;
}
.products-related .product:nth-child(1n+5){
    display: none;
}
.browse-p{
    display: none;
}

@media screen and (max-width: 500px){
    .products-related .product{
        width: 50%;
        flex-basis: 50%;
    }
}