.product{
    position: relative;
    width: 25%;
}
.p{
    position: relative;
    display: flex;
    flex-direction: column;
}
.p .image{

}
.p .flags{
    position: absolute;
    top: 10px;
    left: 10px;
}
.p .flags .flag{

    .flag-action{

    }
}
.p-in{
    display: flex;
    flex-direction: column;
}
.p-in-in{

}
.p-in-in .name{

}
.p .ratings-wrapper{

}
.p .stars-placeholder{

}
.p .availability{

}
.p-code{
    display: none;
}