.products-block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
@media screen and (max-width: 991px){
    .in-index .products-block .product:nth-child(1n+5){
        display: none;
    }
}
@media screen and (max-width: 500px){
    .products-block{
        margin: 0 -5px;
    }
}