.recapitulation-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.reca-number{
    width: 100%;
    text-align: center;
}

.recapitulation-wrapper .co-payment-method{
    width: 50%;
}

.recapitulation-wrapper .co-order{
    width: 50%;
    .cart-table-heading{
        display: none;
    }
}

.recapitulation-wrapper .summary-thx{
    display: none;
}

.recapitulation-wrapper .order-summary-item.total{
    text-align: center;
    border: 0;
    padding: 40px 0;
    width: 100%;
    justify-content: center;
}
.order-complete-links{
    text-align: center;
    width: 100%;
}