.recapitulation-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.reca-number{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.recapitulation-wrapper .co-payment-method{
    width: 100%;
    order: 1;
}

.recapitulation-wrapper .co-order{
    width: 100%;
    order: 0;



    .cart-table{
        width: 100%;

        tr{
            padding: 10px 0;
            height: 90px;
            border-bottom: 1px solid $gray-400;
        }
    }

}

.recapitulation-wrapper .summary-thx{
    display: none;
}

.recapitulation-wrapper .order-summary-item.total{
    text-align: center;
    border: 0;
    padding: 40px 0;
    width: 100%;
    justify-content: center;
    background: $pink-200;
    text-align: center;
    color: $pink-800;
    font-size: 18px;
    display: none;
}
.order-complete-links{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.recapitulation-table{
    width: 100%;
    background: $gray-300;
    padding: 10px;
}
.recapitulation-table th, .recapitulation-table td{
    padding: 10px 20px;
}
.recapitulation-table td{
    text-align: right;
}

.in-dekujeme{
    .cart-table{

    }
    .cart-p-image{
        width: 60px;
    }
    .cart-table .p-name{
        font-size: 14px;
        font-weight: 600;
        color: $gray-900;
        padding: 0 20px;
    }
    .p-quantity.p-cell{
        display: none;
    }
    .p-price.p-cell{
        color: $red-800;
        font-weight: 600;
        text-align: right;
    }
    .cart-table-heading{
        display: none;
    }
    .header-contacts{
        display: none;
    }
}