.sidebar{

}
.sidebar-left{
    width: 25%;
    padding-right: 20px;
    flex-shrink: 0;
}
.sidebar-inner{

}


.in-blog, .in-vyhledavani, .in-login, .in-affiliate-login, .type-page, .in-affiliate-registrace, .in-hodnoceni-obchodu{
    .sidebar{
        display: none;
    }
}
