.sidebar{

}
.sidebar-left{
    width: 25%;
    padding-right: 40px;
    flex-shrink: 0;
}
.sidebar-inner{

}
@media screen and (max-width: 991px){
    .sidebar-left{
        padding-right: 0px;
        flex-shrink: 0;
        width: 0;
    }
}

.in-vyhledavani, .in-login, .in-affiliate-login, .type-page, .in-affiliate-registrace, .in-hodnoceni-obchodu{
    .sidebar{
        display: none;
    }
}
