.site-msg{
    background: #c3dcb2;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    max-width: 1180px;
    margin: 20px auto 0 auto;
}
@media screen and (max-width: 991px){
    .site-msg{
        display: none;
    }
}

.overall-wrapper > .site-msg:first-child{
    display: none;
}
.ordering-process .overall-wrapper > .site-msg:first-child{
    display: flex;
}