.subcategories{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    /*justify-content: center;*/
}
.type-category #content .subcategories, .type-category #content .category-title, .type-category #content .category-perex{
    display: none;
}
.subcategories + h4{
    display: none;
}
.subcategories li{
    margin-bottom: 20px;
}
.subcategories li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid $gray-400;
    height: 100%;

    &:hover, &:active, &:focus{
        background: $gray-300;
        text-decoration: none;
    }
}
.subcategories li a .image{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 50px;
    height: auto;
    flex-shrink: 0;
}
.subcategories li a .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    color: $gray-800;
    padding-left: 10px;
}

@media screen and (max-width: 500px){
    .subcategories{
        margin: 0 -5px;
    }
    .subcategories li{
        margin-bottom: 0px;
        padding: 5px;
    }
}