.subcategories{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.subcategories + h4{
    display: none;
}
.subcategories li{
    margin-bottom: 20px;
}
.subcategories li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid $gray-400;
    height: 100%;
    
    &:hover, &:active, &:focus{
        background: $gray-300;
        text-decoration: none;
    }
}
.subcategories li a .image{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 120px;
}
.subcategories li a .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: $gray-800;
}