.subcategories{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
}
.subcategories li{

}
.subcategories li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid $gray-400;
    margin-bottom: 20px;
}
.subcategories li a .image{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 120px;
}
.subcategories li a .text{
    display: flex;
    flex-direction: column;
}