.user-action{

}
.user-action-in{
    
}
.user-action .user-action-in > div {
    display: none;
}
.login-window-visible .user-action{
    background: rgba($black, 0.4);
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}
.login-window-visible .user-action .login-widget{
    display: flex;
    z-index: 99;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    background: $white;
    padding: 40px;
    top: 20px;
    overflow-y: auto;
    height: auto;
    min-width: 500px;
}
.login-window-visible .user-action .login-widget .popup-widget-inner{
    flex-grow: 1;
}
.login-widget .user-action-tabs, #affiliateLogin{
    display: none;
}
.login-widget .btn{
    width: 100%;
}

@media (max-width: 500px){
    .login-window-visible .user-action .login-widget{
        padding: 40px 20px;
        min-width: 0px;
    }
}