.votes-wrap{

}
.vote-wrap{
    padding: 20px 0;
    border-bottom: 1px solid $gray-400;
}
.vote-header{

}
.vote-pic{
    display: none;
}
.vote-initials{

}
.vote-pic img{

}
.vote-summary{
    display: flex;
    width: 100%;
    align-items: baseline;
}   
.vote-name{
    font-size: 14px;
    color: $gray-700;
    font-weight: 600;
    padding-right: 20px;
}
.vote-name span{

}
.vote-rating{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.vote-rating .stars{
    display: flex;
}
.vote-rating .stars .star{
    height: 16px;
    width: 16px;
    display: flex;
    background-image: url("../icons/star-empty.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.vote-rating .star.star-on{
    background-image: url("../icons/star-full.svg");
}
.vote-delimeter{
    display: none;
}
.vote-time{
    font-size: 14px;
    color: $gray-700;
    font-weight: 400;
}
.vote-content{
    font-style: italic;
    color: $gray-800;
    padding-top: 10px;
}