.in-hodnoceni-obchodu .content-inner{
    display: flex;
    flex-wrap: wrap;
}
.in-hodnoceni-obchodu .content-inner h1{
    display: flex;
    width: 100%;
}
.in-hodnoceni-obchodu .pagination-wrapper{
    width: 100%;
}

.votes-wrap{

}
.vote-wrap{
    padding: 20px 0;
    border-bottom: 1px solid $gray-400;
}
.vote-wrap:last-child{
    border-bottom: 0;
}
.vote-header{

}
.vote-pic{
    display: none;
}
.vote-initials{

}
.vote-pic img{

}
.vote-summary{
    display: flex;
    width: 100%;
    align-items: center;
}   
.vote-name{
    font-size: 14px;
    color: $gray-700;
    font-weight: 600;
    padding-right: 20px;
}
.vote-name span{

}
.vote-rating{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.stars{
    display: flex;
    justify-content: center;
}
 .stars .star{
    height: 16px;
    width: 16px;
    display: flex;
    background-image: url("../icons/star-empty.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
}
.stars .star.star-on{
    background-image: url("../icons/star-full.svg");
}
.vote-delimeter{
    display: none;
}
.vote-time{
    font-size: 14px;
    color: $gray-700;
    flex-grow: 1;
    text-align: right;
}
.vote-content{
    font-style: italic;
    color: $gray-800;
    padding-top: 10px;
}

.star-wrap.stars{
    
}
.star-wrap.stars .star{
    height: 24px;
    width: 24px;
}
.rate-star-wrap .star{
    height: 30px;
    width: 30px;
}

.rate-wrap{
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    margin: 0;
}
.rate-wrap .rate-average-wrap{
    min-width: 100%;
    flex-basis: 100%;
    padding: 0;
    padding-bottom: 50px;
}
.rate-wrap .rate-average-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rate-wrap .rate-average{
    font-size: 46px;
    font-weight: 600;
}
.rate-wrap .rate-star-wrap{

}
.rate-wrap .stars-label{
    font-size: 14px;
    color: $gray-700;
    text-align: center;
}

.rate-wrap .col-sm-6{
    min-width: 100%;
    flex-basis: 100%;
}
.rate-wrap .rate-list{
    display: flex;
}
.rate-wrap .rate-block{

}
.rate-wrap .rate-bar{

}
.rate-wrap .rate-count{
    display: none;
}